{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4" style="margin-bottom: 25px">
                <div class="w3-card" style="width:92%;max-width:300px;">
                    <img src="{% static 'img/empty.png' %}" alt="Avatar" style="width:100%;opacity:0.85">
                    <div class="w3-container">
                        <h4><b>{{ book.title }}</b></h4>
                        <p>Architect and engineer</p>
                    </div>
                </div>
                <div style="margin-top: 20px">
                    {% if book.reviews %}
                        {% for review in book.reviews %}

                        {% endfor %}
                    {% else %}
                        <p>There is no review for this book</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}